/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    font: 16px/20px 'Lato', sans-serif;
    color: #606060;
}
h1{
    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 0;
    color: #4f4e4e;
    text-transform: uppercase;
    margin-bottom: 48px;
   /* background-color: #ffd01f;*/
}
p{
    font: 16px/20px "Lato", sans-serif;
    color: #606060;
    margin-bottom: 25px;
   /* background-color: #ffaf4c;*/
}

.container{
    width: 980px;
    padding: 0;
    margin:0 auto;
    /*background-color: #23b1ff;*/
}
a{
    font: bold 16px/20px Lato;
    color: #fff;
}

/*---HEADER---*/
.main-header{
    background-color: #555555;
    height: 130px;

}
.main-header__box{
    border-bottom: 6px solid #1e1e1e;
    height: 124px;
}
.box__logo{
    float: left;
    padding: 49px 0 49px 0;
}
nav{
    float: right;
}
.nav__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav__list li{
    margin: -2px;
    display: inline-block;
    width: 132px;
    text-align: center;
}
.nav__list a{
    display: block;
    line-height: 126px;/*выравниваем ссылки по середине шапки,
    задавая высоту равную высоте шапки*/
    border-right: 1px solid #1e1e1e;
    border-left: 1px solid #1e1e1e;
    text-decoration: none;
}
.nav__list a:hover{
    background-color: black;
}
.nav__list .active{
    color: #58c93a;
    border-bottom: 6px solid #58c93a;
}


/*---MAIN---*/
.content{
   /* background-color: yellow;*/
    margin-bottom: 50px;

}
.article{
    width: 980px;
    min-height: 310px;
    border-left: 1px solid #e1e0e0;
    border-right: 1px solid #e1e0e0;
}
.article-image{
    width: 470px;
    margin-top: 80px;
    /*height: 307px;*/
    float: left;
 /*   background-color: #ff8861;*/
    clear: both;
}
.article-content{
    float: right;
    width: 470px;
    height: 307px;
    margin-left: 20px;
    /*background-color: #17802e;*/
    margin-top: 80px;
}
a.article-content__button {
    display: inline-block;
    padding: 10px 30px 13px 30px;
    border: 2px solid #c2c2c2;
    border-radius: 100px;
    font: 16px/20px "LatoRegular";
    color: #c2c2c2;
    text-decoration: none;
}
a.article-content__button:hover {
    color: #58c93a;
    border: 2px solid #58c93a;
}

i.article-content__button_arrow{
    width: 15px;
    height: 7px;
    display: inline-block;
    opacity: 0;
    background-image: url("../img/read_more_arrow.png");
    margin-left: -10px;
}
a.article-content__button:hover i.article-content__button_arrow{
    opacity: 1;
    margin-left: 10px;
}

/*---FOOTER---*/
.main-footer{
    background-color: #f8f8f8;
    height: 315px;
    border-top: 1px solid #e1e0e0;
}
.main-footer__logo{
    text-align:center ;
    padding-top: 80px;
    padding-bottom: 40px;
}
.main-footer__copy{
   text-align: center;
}
.social{
    width: 400px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: blueviolet;*/
    text-align: center;
}
.social__box{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin:0 10px;
    background-color: #f8f8f8;
    /*прячем текст в кнопках*/
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    /*добавляем фон картинкой*/
    background-image: url("../img/sp.png");
    transition: background-position 0.1s, background-color 0.1s;
}
.social__box_fb{
    background-position: 0 0;
}
.social__box_tw{
    background-position: 122px 0;
}
.social__box_be{
    background-position: 81px 0;
}
.social__box_dr{
    background-position: 40px 0;
}
.social__box_fb:hover{
    background-image: url("../img/sp_hover.png");
    background-position: 0 0;
}
.social__box_tw:hover{
    background-image: url("../img/sp_hover.png");
    background-position: 122px 0;
}
.social__box_be:hover{
    background-image: url("../img/sp_hover.png");
    background-position: 81px 0;
}
.social__box_dr:hover{
    background-image: url("../img/sp_hover.png");
    background-position: 40px 0;
}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
